body {
    margin: 0;
    /* background-color: #ffa500; */
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.ctr {
    width: 100%;
    min-height: inherit;
}
/* USER HEADER PROPERTIES */

.header_home_ctr,
.header_profile_ctr {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}

.header_home_link {
    text-decoration: none;
    margin: 0;
    background-color: transparent;
}

.header_home_ctr {
    left: 0;
    background-color: #555555;
}

.header_profile_ctr {
    right: 0;
    background-color: #555555;
}

.header_home_content_ctr,
.header_profile_logo_ctr {
    background-color: rgba(0, 0, 0, 0.15);
    width: 60px;
    height: 60px;
    display: grid;
    align-content: center;
    justify-content: center;
}

i.fa-user,
i.fa-home {
    color: #ffa500;
    font-size: 28px;
    margin: 0;
}

.header_profile_ctr:hover i.fa-user,
.header_home_ctr:hover i.fa-home {
    color: #f1f1f1;
}

.header_profile_content_ctr {
    position: fixed;
    right: 0;
    top: 0;
    width: 0px;
    height: 240px;
    z-index: 3;
    background-color: #000000;
    transition: width 1000ms linear;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
}

.transition-toggle {
    transition: width 1000ms linear;
    width: 240px;
    z-index: 3;
}

.header_profile_content_close_ctr {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-content: center;
}

@keyframes spinTimesOpen {
    100%{transform: rotate(360deg);}
}

.fa-times-rotate-open {
    animation: spinTimesOpen 1250ms linear;
}

.u_header_profile_content_close {
    color: #555555;
    font-size: 28px;
    margin: 0;
    cursor: pointer;
}

.u_header_profile_content_close:hover {
    color: #f1f1f1;
}

.header_profile_content_name_ctr {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.header_profile_content_name {
    margin: 0;
    color: #f1f1f1;
    font-weight: 100;
    font-size: 28px;
}

.header_profile_content_links_ctr {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    padding-right: 20.375px;
    display: grid;
    align-content: center;
    justify-content: right;
    text-align: right;
}

.header_profile_content_link_settings_ctr,
.header_profile_content_link_faq_ctr,
.header_profile_content_link_logout_ctr {
    margin: 10px 0px;
}

.header_profile_content_link,
.header_profile_content_form_logout_btn {
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: color 500ms linear;
}

.header_profile_content_link:hover,
.header_profile_content_form_logout_btn:hover {
    color: #ffa500;
    transition: color 250ms linear;
}

/* USER SETTINGS FILE PROPERTIES */

.set_ctr {
    width: 100%;
    min-height: inherit;
    background-color: #ff0095;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template: none;
}

.set_content_ctr {
    display: grid;
    width: 100%;
    min-height: inherit;
    align-content: center;
    justify-content: center;
}

/* user settings content */

.set_ct_box {
    display: grid;
    width: 100%;
    min-height: inherit;
    align-content: center;
    justify-content: center;
}

.set_ct_head_ctr,
.set_ct_body_ctr {
    width: 900px;
    min-height: 50px;
    margin: 2.5vh 0vh;
    max-width: 900px;
    background-color: #f1f1f1;
}

.set_ct_head_ctr {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.set_ct_head_link_ctr {
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    align-content: center;
    justify-content: center;
}

.set_ct_body_ctr {
    height: 500px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; */
    border-radius: 15px;
}