body {
    margin: 0;
    /* background-color: #ffa500; */
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.ctr {
    width: 100%;
    min-height: inherit;
}

.u_ctr {
    width: 100%;
    min-height: inherit;
    background-color: #0000ff;
    display: grid;
    align-content: center;
    justify-content: center;
}

.u_header_home_ctr,
.u_header_profile_ctr {
    height: 60px;
    width: 60px;
    position: fixed;
    top: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.6); */
}

.u_header_home_link {
    text-decoration: none;
    margin: 0;
    background-color: transparent;
}

.u_header_home_ctr {
    left: 0;
    background-color: #0000a5;
    /* border-right: 2px solid rgba(0, 0, 0, 0.6); */
}

.u_header_profile_ctr {
    right: 0;
    background-color: #ffa500;
    /* border-left: 2px solid rgba(0, 0, 0, 0.6); */
}

.u_header_home_content_ctr,
.u_header_profile_logo_ctr {
    background-color: rgba(0, 0, 0, 0.15);
    width: 60px;
    height: 60px;
    display: grid;
    align-content: center;
    justify-content: center;
}

/* i.fa-user-astronaut, */
i.fa-user,
i.fa-home {
    color: #555555;
    /* color: #f1f1f1;  */
    font-size: 28px;
    margin: 0;
}

/* .u_header_profile_ctr:hover i.fa-user-astronaut, */
.u_header_profile_ctr:hover i.fa-user,
.u_header_home_ctr:hover i.fa-home {
    color: #f1f1f1;
}

/* New */

.u_header_profile_content_ctr {
    /* display: none; */
    position: fixed;
    right: 0;
    top: 0;
    width: 0px;
    height: 240px;
    z-index: 3;
    background-color: #000000;
    /* transition: width 2000ms linear, height 2000ms linear; */
    transition: width 1000ms linear;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(4, 60px);
}

.transition-toggle {
    /* display: block; */
    /* transition: width 2000ms linear, height 2000ms linear; */
    transition: width 1000ms linear;
    width: 240px;
    z-index: 3;
}

.u_header_profile_content_close_ctr {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    /* background-color: #fff; */
    display: grid;
    align-content: center;
    justify-content: center;
}

@keyframes spinTimesOpen {
    100%{transform: rotate(360deg);}
}

.fa-times-rotate-open {
    animation: spinTimesOpen 1250ms linear;
}

i.fa-times {
    color: #555555;
    /* color: #f1f1f1;  */
    font-size: 28px;
    margin: 0;
    cursor: pointer;
}

i.fa-times:hover {
    color: #f1f1f1;
}

.u_header_profile_content_name_ctr {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.u_header_profile_content_name {
    margin: 0;
    color: #f1f1f1;
    font-weight: 100;
    font-size: 28px;
}

.u_header_profile_content_links_ctr {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    /* background-color: #b1b; */
    padding-right: 20.375px;
    display: grid;
    align-content: center;
    justify-content: right;
    text-align: right;
}

.u_header_profile_content_link_settings_ctr,
.u_header_profile_content_link_faq_ctr,
.u_header_profile_content_link_logout_ctr {
    margin: 10px 0px;
}

.u_header_profile_content_link,
.u_header_profile_content_form_logout_btn {
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: color 500ms linear;
}

.u_header_profile_content_link:hover,
.u_header_profile_content_form_logout_btn:hover {
    color: #ffa500;
    transition: color 250ms linear;
}