body {
    margin: 0;
    /* background-color: #ffa500; */
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.ctr {
    width: 100%;
    min-height: inherit;
}

.ix_home {
    width: 100%;
    min-height: inherit;
    background-color: #ffa500;
    display: grid;
    align-content: center;
    justify-content: center;
}

.ix_start_hold {
    display: none;
    height: 60px;
}

.ix_name_ctr {
    margin: 25px 0px;
    display: grid;
    justify-content: center;
}

.ix_name {
    margin: 0;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
}

.ix_form_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ix_form_button_ctr {
    margin: 0px 25px;
}

.ix_form_button {
    font-size: 24px;
    background-color: #00000059;
    border: 0;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

.ix_form_button:hover {
    background-color: #000000;
}

.ix_login_hold {
    /* display: none; */
    height: 60px;
}

.ix_login_form_ctr {
    display: flex;
    align-items: center;
}

.ix_login_input,
.ix_login_button {
    font-size: 18px;
    padding: 5px;
    background-color: #00000059;
    color: #ffffff;
    border-color: #000000;
}

.ix_login_input::placeholder {
    color: #bbbbbb;
}

.ix_login_button {
    cursor: pointer;
}

.ix_login_button:hover {
    background-color: #000000;
}

.ix_login_back_b {
    margin-right: 5px;
}

.ix_signup_hold {
    display: none;
}

.ix_signup_form_ctr {
    display: grid;
    justify-items: center;
}

.ix_signup_form {
    display: grid;
    justify-items: center;
    align-content: center;
}

.ix_signup_input,
.ix_signup_button {
    margin: 10px 0px;
    font-size: 18px;
    padding: 5px;
    background-color: #00000059;
    color: #ffffff;
    border-color: #000000;
}

.ix_signup_input {
    width: 300px;
}

.ix_signup_input::placeholder {
    color: #bbbbbb;
}

.ix_signup_button {
    width: 150px;
    cursor: pointer;
}

.ix_signup_button:hover {
    background-color: #000000;
}

i.fa-arrow-alt-circle-left {
    font-size: 24px;
    cursor: pointer;
}

i.fa-arrow-alt-circle-left:hover {
    color: #ffffff;
}