body {
    margin: 0;
    /* background-color: #ffa500; */
    width: 100%;
    min-height: 100vh;
    overflow: auto;
}

.ctr {
    width: 100%;
    min-height: inherit;
}

.ix_home {
    width: 100%;
    min-height: inherit;
    background-color: #ffa500;
    display: grid;
    align-content: center;
    justify-content: center;
}

.ix_name_ctr {
    margin: 25px 0px;
    display: grid;
    justify-content: center;
}

.ix_name {
    margin: 0;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
}

.ix_start_hold {
    /* display: none; */
    height: 60px;
}

.ix_form_buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ix_form_button_ctr {
    margin: 0px 25px;
}

.ix_form_button {
    font-size: 24px;
    background-color: #00000059;
    border: 0;
    color: #ffffff;
    padding: 15px;
    cursor: pointer;
}

.ix_form_button:hover {
    background-color: #000000;
}

.ix_login_hold {
    display: none;
    height: 60px;
}

.ix_login_form_ctr {
    display: flex;
    align-items: center;
}

.ix_login_input,
.ix_login_button {
    font-size: 18px;
    padding: 5px;
    background-color: #00000059;
    color: #ffffff;
    border-color: #000000;
}

.ix_login_input::placeholder {
    color: #bbbbbb;
}

.ix_login_button {
    cursor: pointer;
}

.ix_login_button:hover {
    background-color: #000000;
}

.ix_login_back_b {
    margin-right: 5px;
}

.ix_signup_hold {
    display: none;
}

.ix_signup_form_ctr {
    display: grid;
    justify-items: center;
}

.ix_signup_form {
    display: grid;
    justify-items: center;
    align-content: center;
}

.ix_signup_input,
.ix_signup_button {
    margin: 10px 0px;
    font-size: 18px;
    padding: 5px;
    background-color: #00000059;
    color: #ffffff;
    border-color: #000000;
}

.ix_signup_input {
    width: 300px;
}

.ix_signup_input::placeholder {
    color: #bbbbbb;
}

.ix_signup_button {
    width: 150px;
    cursor: pointer;
}

.ix_signup_button:hover {
    background-color: #000000;
}

i.fa-arrow-alt-circle-left {
    font-size: 24px;
    cursor: pointer;
}

i.fa-arrow-alt-circle-left:hover {
    color: #ffffff;
}

/* USER PROPERTIES */

.u_ctr {
    width: 100%;
    min-height: inherit;
    background-color: #0000ff;
    display: grid;
    align-content: center;
    justify-content: center;
}

.u_spin_ctr {
    display: none;
}

@keyframes spinmove {
    100%{transform: rotate(360deg);}
}

i.fa-circle-notch {
    font-size: 48px;
    color: #f1f1f1;
    animation: spinmove 1500ms linear infinite;
}

.u_content_ctr {
    /* display: none; */
}

.u_content_box {
    display: grid;
    width: 100%;
    min-height: inherit;
    align-content: center;
    justify-content: center;
}

.u_grade_ctr {
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 800px;
    margin: 5vh 0vh;
}

.u_grade_content_ctr {
    width: 100%;
}

.u_grade_box {
    min-height: 50px;
    width: 100%;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.u_grade_hold_ctr {
    height: 50px;
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
}

.u_grade_name_ctr,
.u_grade_grade_ctr,
.u_grade_value_ctr {
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
}

.u_grade_name_ctr {
    grid-column: 1 / 5;
}

.u_grade_grade_ctr,
.u_grade_value_ctr {
    grid-column: span 1;
    justify-content: center;
}

.u_grade_parg {
    margin: 0;
    font-size: 20px;
    color: #555555;
    font-weight: 300;
}

.u_grade_name_ctr .u_grade_parg {
    margin-left: 25px;
}

.u_grade_manage_ctr {
    /* display: none; */
    height: 40px;
    background-color: #cccccc;
}

.u_manage_content_ctr {
    display: grid;
    width: 100%;
    height: 100%;
    /* background-color: #000000; */
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
}

.u_manage_edit_ctr,
.u_manage_delete_ctr {
    grid-row: 1 / 2;
    display: grid;
    align-content: center;
    justify-content: center;
}

.u_manage_edit_ctr {
    grid-column: 4 / 5;
}

.u_manage_delete_ctr {
    grid-column: 6 / 7;
}

i.u_manage_edit,
i.u_manage_delete {
    margin: 0;
    color: #555555;
    font-size: 20px;
    cursor: pointer;
}

.u_manage_delete_form_ctr {
    display: none;
    grid-column: 7 / 10;
    grid-row: 1 / 2;
}

.u_manage_delete_form_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.u_manage_delete_form {
    grid-column: span 1;
    grid-row: span 1;
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.u_manage_delete_form_message_ctr {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* background-color: green; */
    display: grid;
    align-content: center;
}

.u_manage_delete_form_message {
    font-size: 16px;
    cursor: text;
    margin: 0;
    color: #555555;
}

.u_manage_delete_form_button_ctr {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* background-color: gold; */
    display: grid;
    align-content: center;
    justify-content: center;
}

.u_manage_delete_form_button {
    border: 0;
    background-color: #008000;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 5px;
}

.u_conclusion_ctr {
    height: 50px;
    /* background-color: #000000; */
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}